.hero{
    background-image: url('../../../assets/heroBg.png');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

@media (max-width:920px){
    .hero{
        background-image: none;
    }
}