.about {
    background-image: url("../../assets/about.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:920px){
    .about{
        height: 400px;
    }
}

@media (max-width:468px){
    .about{
       height: 100vh;
    }
}